<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new product</title>
</head>

<body>
    <h1>Generate new product</h1>
    <form action="/products" method="POST">
        <label for="name">Input Name</label>
        <input type="text" name ="name" id="name" placeholder="product name">
        <label for="price">Enter Price</label>
        <input type="number" name ="price" placeholder="product price" id="price">
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <%for(let category of categories){%>
                <option value="<%=category%>"><%=category%></option>
            <%}%>
        </select>
        <button>Submit</button>
    </form>
    <p><a href="/products">Back to All Products</a></p>
</body>

</html>