<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This page is secret</title>
</head>
<body>
    <h1>shh secret!</h1>
    <form action="/logout" method="POST">
    <button>Press to Log out</button></form>
</body>
</html>